@import "config/config";
@import "partials/partials";
@import "components/components";

body {
  background-color: darken($accent5, 10%);
  color: $white;
  font-family: $font;
}

.bars {
    display: flex;
    flex-direction: column;
    margin: 1vw 0;
    width: 100%;
}

.add-new-bar {
    justify-content: center;
    display: flex;
    align-items: center;
}
