@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');

$font: "Dosis", Helvetica, Arial, sans-serif !important;

$accent1: #FFBC67;
$accent2: #DA727E;
$accent3: #AC6C82;
$accent4: #685C79;
$accent5: #455C7B;

$black: #141414;
$white: #FEFEFE;
$green: #43BC67;
$blue: #43BCC4;
$grey: #b3b3b3;
